* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 12px/1 'Montserrat';
}

.filter__form, .filter__itens {
    display: flex;
    flex-direction: row;    
}

.filter__form {
    justify-content: space-between;
    width: 50%;
    padding:15px;
}

.filter__item label {
    display: block;
    font: bold 12px/15px 'Montserrat';
    color: #333;
    margin-bottom: 5px;
}

.filter__item select {
    border: 1px solid #D8D8D8;
    color: #6F6F6F;
    background-color: transparent;
    padding: 10px;
    font: normal 14px/18px Montserrat;
}

.filter__button {
    background-color: #FEC40B;
    color: #333;
    border: 0;
    padding: 7px 10px;
    font: bold 12px/15px Montserrat;
    text-transform: uppercase;
}

.filter__itens {
    flex-wrap: wrap;
    padding: 0;
}

.filter__itens li {
    margin: 15px 10px;
    list-style: none;
    min-width: 290px;
    box-shadow: 0px 3px 6px #00000029;
}

.filter__itens li .img {
    width: 100%;
    height: 178px;
    overflow: hidden;
    position: relative;
}

.hidetext {
    text-indent: -9999em;
}

.filter__itens li .img img {
    display: block;
    width: 100%;
    height: auto;
}

.filter__itens li .img .category {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    background-color: #FEC40B;
    font: Bold 12px/15px Montserrat;
    color: #333333;
    text-transform: uppercase;
    padding: 4px 8px;
}
.filter__itens li .content {
    padding: 15px;
}
.filter__itens li .type {
    font: normal italic 11px/14px Montserrat;
    color: #333;
    margin: 15px 0;
}

.filter__itens li .maintitle,
.filter__itens li .maintitle a {
    font: bold 16px/19px Montserrat;
    color: #fec40b;
    text-decoration: none;
}

.pagination {
    margin: 20px;
    text-align: center;
}

.pagination li.navItem {
    display: inline-block;
    color: #fec40b;
    font: bold 12px/15px Montserrat;
    margin-right: 5px;
    cursor: pointer;
}

.pagination li.navItem::after {
    content: '.';
}

.pagination li.on {
    color: #333;
}

.pagination .bystep {
    background-color: #FEC40B;
    color: #333;
    border: 0;
    padding: 7px 10px;
    font: bold 12px/15px Montserrat;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}